* {
    text-align: center;
}

#board button {
    padding: 0;
    background-size: contain;
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    transition: all .4s ease-in-out;
}

#board button.face-down {
    background-image: url("../img/card-back.png");
    -webkit-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
}

.face-down span {
    display: none;
}

#progress {
    margin: auto;
    margin-top: 2em;
    width: 75%;
}

#progress span {
    position: absolute;
    left: 0;
    right: 0;
}

#progress .progress-bar {
    height: 20px;
}