/* general container element to constrain content width on wider screens */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}
@media (min-width: 768px) {
    .container { width: 750px; } 
}
@media (min-width: 992px) {
    .container { width: 970px; }
}
@media (min-width: 1200px) {
    .container { width: 1170px; }
}

/* Your CSS rules go here */
* {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18;
    font-weight: 300;
    box-sizing: border-box;
}

.flexbox-container {
    display: flex;
    min-height: 200px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-column {
    padding: 20px;
    flex-basis: 100%;
}

.content {
    text-align: center;
    font-size: 4rem;
    height: 100%;
}

header {
    background: linear-gradient(to bottom, #391D18, #814236);
    margin-top: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 100;
}

h2 {
    text-align: center;
    font-variant: small-caps;
    
}

p {
    line-height: 1.43;
    margin-top: 0;
    margin-bottom: 1rem;
}

button {
    background-color: #814236;
    border-color: #391d18;
}

button:hover {
    background-color: #5d3027;
}

nav {
    background-color: #391d18;
    width: 100%;
    position: fixed;
    top: 0;
    z-index;
}

nav ul {
    list-style: none;
}

li {
    display: inline;
    padding-right: 1em;
}

a {
    color: #dfdfdf;
    text-decoration: none;
}

a:hover, a:focus {
    color: white;
}

.navcart {
    float: right;
}

svg {
    fill: #814236;
}

.sectype1 {
    background-color: #f8f8f8;
}

.card1 {
    background-color: white;
    border-color: #dfdfdf;
    border-radius: 3px;
}

@media screen and (min-width:768px) {
    header {
        background-image: url("../img/pencil-header-sm.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        margin-top: 0;
    }

    header h1 {
        font-size: 500%;
    }

    header p {
        font-size: 175%;
        max-width: 325px;
    }

    nav {
        left: -10000px;
    }

    .flex-column {
        flex-basis: 50%;
    }
}

@media screen and (min-width:992px) {
    header {
        background-image: url("../img/pencil-header-md.jpg");
    }

    header p {
        max-width: 485px;
    }
}

@media screen and (min-width:1200px) {
    header {
        background-image: url("../img/pencil-header-lg.jpg");
    }

    header p {
        max-width: 585px;
    }

    .flex-column {
        flex-basis: 25%;
    }
}